NODE_ENV=test

PORT=3001

DATABASE_URL=postgresql://tinylink:tinylink@localhost:5433/tinylink_test
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=test-jwt-access-secret-min-32-chars!!
JWT_REFRESH_SECRET=test-jwt-refresh-secret-min-32-chars!

BASE_URL=http://localhost:3001/

SHORT_CODE_STRATEGY=random
SHORT_CODE_LENGTH=7
SHORT_CODE_SNOWFLAKE_WORKER_ID=1
